.result{
    padding-bottom: 31px;
    padding-top: 140px;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.result-image{
    position: absolute;
    top: 100px;
    z-index: -1;
}

.result-title{
    max-width: 588px;
    margin-bottom: 60px;
}

.result-score{
    background-image: url("../images/result.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 158px;
    line-height: 190px;
    color: #fff;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    margin-bottom: 80px;
}

.show-answers{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.show-answers a {
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.show-answers a:hover{
    text-decoration: underline;
}

.show-answers a img{
    margin-left: 13px;
    display: inline;
}