<section class="show-answers">
    <div class="container">
        <div class="show-path">
            <p class="path-grey">Результат прохождения теста</p>
            <span><img src="../images/show-arrow.png" alt="mini arrow"></span>
            <p id="pre-title">Тест №1. “JavaScript: Начальный уровень”</p>
        </div>
        <div class="show-results">
            <div class="big-title"><span>Правильные ответы </span>к тесту</div>
            <div class="made-by" id="made-by">Тест выполнил <span>Роман Чернов, roman@itlogia.ru</span></div>
            <div class="questions">
                <div class="question">
                    <div class="question-title" id="title">
                        <span>Вопрос 1:</span> Тут должен быть текст вопроса?
                    </div>
                    <div class="test-question-options" id="options"></div>
                </div>
            </div>
            <div class="back-results">
                <a href="#" id="show">Обратно к моему результату теста<img src="../images/mini-arrow.png" alt="mini arrow"></a>
            </div>
        </div>
    </div>
</section>