* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-Regular.ttf");
}

body {
    background: linear-gradient(to right, #fffffb 50%, #F8F8FA 50%);
    font-family: Nunito, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    text-align: center;
    padding: 27px 0 112px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.main__info {
    padding-bottom: 191px;
}

.main__info-title{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 26px;
}

.main__info-text{
    color: #636363;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    width: 496px;
    margin-bottom: 77px;
}

.main__form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
}

.main__form-label{
    color: #C6C6C4;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}

.main__form-input{
    border: none;
    border-bottom: 1px solid #C6C6C4;
    width: 452px;
    outline: none;
    height: 25px;

    box-sizing: border-box;
    color: #323232;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;

    margin-bottom: 20px;
}

.main__form-input::placeholder{
    color: #323232;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.main__agree {
    color: #636363;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 40px;
}

.main__agree label{
    margin-left: 10px;
}

.main__action{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.main__btn {
    color: #FFF;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    border: 0;
    border-radius: 40px;
    background: #DD3142;
    padding: 21px 68px;
    cursor: pointer;

    margin-bottom: 44px;
}

.main__link {
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    cursor: pointer;
}

.main__link:hover {
    color: #774e4e;
}


.main__img{
    position: relative;
    bottom: 115px;
}

.popup {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee7e7;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.popup__text {
    margin-bottom: 10px;
}

#popup__btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #DD3142;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#popup__btn:hover {
    background-color: #e84556;
}

.error-message {
    padding-bottom: 10px;
    color: #DD3142;
}